.featured {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  z-index: -1;
  max-width: 90%;
}
.featured-item {
  flex: 1;
  position: relative;
  color: #fff;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  overflow: hidden;
}
.featured-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.featured-title {
  position: absolute;
  bottom: 10px;
}
