@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: #ffff;
}
.btn {
  padding: 8px 18px;
  border-radius: 6px;
  border: 1px solid #000;
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  background: linear-gradient(to bottom, #0074e4, #00a2ff);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.side-padding {
  padding: 1rem 5rem;
}
.background {
  background-image: url(./assets/wp.jpg);
  background-size: cover; /* This will make the image cover the entire header */
  position: relative;
  background-position: center;
}
.bg-other {
  background: linear-gradient(to bottom, #999999, #fff);
  background-size: cover; /* This will make the image cover the entire header */
  position: relative;
  background-position: center;
}
